<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="http://localhost:8080/api/v1/order/" method="get">
        <p><label>Введите ID заказа:</label></p>
        <p><input type="text" name="ouid" value="b563feb7b2b84b6test0"></p>
        <input type="submit" value="Отправить">
    </form>
</body>
</html>